<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gabungan Minitask1 dan Minitask2" />
    <title>Minitask1</title>
    <link rel="stylesheet" href="/styles/minitask1.css" />
    <script src="/js/minitask1.js" defer></script>
  </head>
  <body>
    <header>
      <nav class="nav-hero">
        <ul class="hero-ul">
          <li>Ari Ramadhan</li>
          <li>Home</li>
          <li>About</li>
          <li>Projects</li>
        </ul>
      </nav>
    </header>
    <main>
      <form>
        <div style="display: flex; justify-content: center; margin-top: 30px">
          <input
            autofocus
            class="pasw eye"
            type="password"
            id="pwd"
            placeholder="Insert Password"
          />
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
