<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pokedex" />
    <link rel="stylesheet" href="/styles/pokemon.css" />
    <title>Pokedex</title>
    <script src="/js/pokemon.js" defer></script>
  </head>
  <body>
    <header>
      <nav
        style="
          display: flex;
          justify-content: right;
          background-color: lightblue;
          padding: 10px;
        "
      >
        <div id="navLogout" style="cursor: pointer">Logout</div>
      </nav>
    </header>
    <main>
      <div>
        <h1 style="text-align: center; padding: 20px">POKEDEX</h1>
      </div>

      <section class="hero-main">
        <!-- <div class="flex-search">
          <select class="select" id="selectType">
            <option>Choose Your Type</option>
            <option>Fire</option>
            <option>Ground</option>
          </select>
        </div> -->

        <!-- <div class="main-grid">
          <div class="item">Name</div>

          <image
            class="item"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
            alt="gambar bulbasaur"
          />
          <image
            class="item"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
            alt="gambar bulbasaur"
          />
          <div class="item">Tipe</div>
        </div> -->

        <!-- <div class="main-grid">
          <div class="item">Name</div>
          <div class="item">Image</div>
          <div class="item">Image</div>
          <div class="item">Tipe</div>
        </div>

        <div class="main-grid">
          <div class="item">Name</div>
          <div class="item">Image</div>
          <div class="item">Image</div>
          <div class="item">Tipe</div>
        </div> -->

        <!-- <div class="main-grid">
          <div class="item">Name</div>
          <div class="item">Image</div>
          <div class="item">Image</div>
          <div class="item">
            <div class="flex-type">
              <div style="background-color: aquamarine; text-align: center">
                a
              </div>
              <div style="background-color: aquamarine">a</div>
              <div style="background-color: aquamarine">a</div>
            </div>
          </div>
        </div> -->
      </section>

      <footer style="margin-top: 50px"></footer>
    </main>
    <footer></footer>
  </body>
</html>
