* {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: #90d5ff;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: #90d5ff;
}

.hero-ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: lightskyblue;
  cursor: pointer;
}

.hero-flat {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #90d5ff;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    background-color: lightblue;

    &:nth-child(1) {
      background-color: lightblue;
    }
  }
}

.hamb-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-ul {
    display: none;
  }

  .hamb-btn {
    display: none;
  }

  .hero-info {
    display: none;
  }

  .hero-flat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #90d5ff;
  }
}
