body {
  margin: 0px;
}

.nav-hero {
  display: flex;
  justify-content: left;
  align-content: center;
  background-color: #90d5ff;
}

.hero-ul {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-content: center;
  background-color: #90d5ff;
}

.pasw {
  display: flex;
  width: 70%;
  border: 2px solid black;
  background: whitesmoke;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.eye {
  display: inline;
  background: url(/icons/eye.png) no-repeat right;
  background-size: 20px;
  transform: translateY(-50%);
  padding: 10px;
}

.eye-slash {
  display: inline;
  background: url(/icons/eye-slash.png) no-repeat right;
  background-size: 20px;
  transform: translateY(-50%);
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .hero-ul {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: center;
    background-color: #90d5ff;
  }
}
