* {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

.flex-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  gap: 10px;
  padding: 20px;
  width: 300px;
  min-width: 250px;

  .item {
    padding: 10px;
    &:nth-child(1) {
      background-color: lightblue;
      grid-column: 1/3;
      grid-row: 1/2;

      &::first-letter {
        font-size: 30px;
      }
    }
    &:nth-child(2) {
      background: lightblue;
      grid-column: 1/2;
      grid-row: 2/3;
      /* width: 100%;*/
      /* height: 100%; */
      object-fit: cover;
    }
    &:nth-child(3) {
      background-color: lightskyblue;
      grid-column: 2/3;
      grid-row: 2/3;
      /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png);
       object-fit: fill; */
    }
    &:nth-child(4) {
      background: black;
      grid-column: 1/3;
      grid-row: 3/4;
      justify-content: flex-start;
      align-content: flex-start;
      text-align: center;
    }
  }
}

.flex-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background-color: lightskyblue;
}

.select {
  display: flex;
  justify-content: center;
}
